<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title>Як зупинити кровотечу</title>
    <link rel="stylesheet" href="../static/theory.css" />
  </head>
  <body>
    <header>
      <div class="logo-nav">
        <a href="/" class="logo">
          <img src="../static/logothyp.jpg" alt="First Aid Logo" /> First Aid
        </a>
        <nav>
          <a href="/theory">Теорія</a>
          <a href="/tests">Тести</a>
        </nav>
      </div>
      <div class="auth-buttons">
        {% if session.get("email") %}
        <a href="/profile" class="user-icon">
          <img
            src="/static/user-icon.png"
            alt="User Profile"
            style="width: 40px; height: 40px"
          />
        </a>
        {% else %}
        <a href="/login" class="login">Увійти</a>
        <a href="/register" class="register">Зареєструватися</a>
        {% endif %}
      </div>
    </header>
    <div class="main">
      <h1>Як зупинити кровотечу.</h1>
      <p>
        Зупинка кровотечі є критично важливою для порятунку життя потерпілого,
        особливо коли мова йде про масивну крововтрату. Існують кілька методів
        зупинки кровотечі, серед яких прямий тиск на рану, тампонада та
        використання гемостатичних засобів. Для ефективної допомоги важливо
        правильно оцінити тип кровотечі та застосувати відповідний підхід.
      </p>
      <b>1. Огляд на кровотечу: Як визначити тип кровотечі?</b>
      <p><em>Що потрібно зробити при першому огляді?</em></p>
      <ul>
        <li>
          Зверніть увагу на характер кровотечі: колір крові, швидкість витікання
          та місце поранення.
        </li>
        <li>
          Оцініть ступінь крововтрати: чи є ознаки шоку (слабкість, пітливість,
          знижений тиск)?
        </li>
        <li>
          Визначте, чи є наявність сторонніх предметів у рані або набряків, що
          можуть ускладнити кровотечу.
        </li>
        <li>
          Визначте, чи може бути уражено велике судно, що потребує більш
          агресивних заходів (наприклад, артеріальне кровотечення).
        </li>
      </ul>

      <b>2. Типи кровотечі</b>
      <p>
        Кровотечі поділяються на кілька типів в залежності від характеру
        пошкодження судин:
      </p>
      <div class="clearfix">
        <img src="../static/arterial.png" class="side-image" />
        <b>Артеріальна кровотеча</b>
        <p><em>Що це означає?</em></p>
        <ul>
          <li>
            При артеріальній кровотечі кров виходить під високим тиском, часто
            яскраво-червоною, пульсуючою струменем.
          </li>
          <li>
            Це найнебезпечніший тип кровотечі, оскільки велика кількість крові
            може витікати за короткий час.
          </li>
          <li>
            Основний підхід до зупинки: негайне застосування тиску на рану,
            використання джгута або гемостатичних засобів для швидкого згортання
            крові.
          </li>
        </ul>
      </div>
      <p></p>
      <p></p>
      <p></p>
      <div class="clearfix">
        <img src="../static/vanosna.png" class="side-image" />
        <b>Венозна кровотеча</b>
        <p><em>Що це означає?</em></p>
        <ul>
          <li>
            Венозна кровотеча характеризується більш повільним витіканням крові
            темного кольору.
          </li>
          <li>
            Кров витікає рівним потоком, без пульсацій, але може тривати досить
            довго.
          </li>
          <li>
            Підхід до зупинки: застосування прямого тиску на рану, перев’язка
            венозних судин.
          </li>
        </ul>
      </div>
      <p></p>
      <p></p>
      <p></p>
      <div class="clearfix">
        <img src="../static/capilar.png" class="side-image" />
        <b>Капілярна кровотеча</b>
        <p><em>Що це означає?</em></p>
        <ul>
          <li>
            Капілярна кровотеча виникає внаслідок пошкодження дрібних судин,
            кров витікає повільно, кров червона, але не пульсуюча.
          </li>
          <li>
            Це найменш небезпечний тип кровотечі, часто не потребує серйозного
            втручання.
          </li>
          <li>
            Підхід до зупинки: легкий тиск на рану, накладання стерильної
            пов'язки або марлевого бинта.
          </li>
        </ul>
      </div>
      <p></p>
      <p></p>
      <p></p>
      <b>Внутрішня кровотеча</b>
      <p><em>Що це означає?</em></p>
      <ul>
        <li>
          Внутрішня кровотеча виникає в результаті пошкодження внутрішніх
          органів або судин, що призводить до витоку крові всередину тіла.
        </li>
        <li>
          Такі кровотечі можуть бути дуже небезпечними, оскільки постраждалий не
          завжди може помітити їх на перший погляд.
        </li>
        <li>
          Підхід до зупинки: термінова транспортування потерпілого до медичного
          закладу, при можливості надання допомоги для стабілізації стану
          (наприклад, зігрівання чи зупинка зовнішніх симптомів). При внутрішній
          кровотечі важливо не застосовувати тиск на рану, якщо є підозра на
          внутрішню крововтрату.
        </li>
      </ul>

      <b>3. Методи зупинки кровотечі</b>

      <b>Прямий тиск на рану</b>
      <p><em>Що це означає?</em></p>
      <ul>
        <li>
          Прямий тиск на рану є одним з найефективніших методів зупинки
          зовнішньої кровотечі, що полягає в застосуванні тиску на місце
          поранення.
        </li>
        <li>
          Для зупинки кровотечі використовуються стерильні бинти, марля, або
          навіть чиста тканина, яку потрібно прикласти до рани та тримати
          впродовж кількох хвилин.
        </li>
        <li>
          Важливо не знімати тиск до прибуття медичної допомоги або застосування
          інших методів, таких як джгут.
        </li>
      </ul>

      <b>Тампонада</b>
      <p><em>Що це означає?</em></p>
      <ul>
        <li>
          Тампонада є методом, коли матеріал (наприклад, бинт чи марля)
          вводиться безпосередньо в рану для блокування витоку крові.
        </li>
        <li>
          Цей метод є ефективним, коли рана велика або кровоточить із глибоких
          внутрішніх судин, і прямий тиск є неефективним.
        </li>
      </ul>

      <b>Гемостатики</b>
      <p><em>Що це означає?</em></p>
      <ul>
        <li>
          Гемостатичні засоби — це спеціальні препарати, які допомагають
          зупинити кровотечу шляхом прискорення згортання крові.
        </li>
        <li>
          Ці засоби можуть бути у вигляді порошків, гелів, або бинтів з
          антикоагулянтами, які наносяться на рану.
        </li>
        <li>
          Гемостатичні засоби застосовуються при серйозних артеріальних або
          венозних кровотечах, де традиційні методи (тиск або тампонада) можуть
          бути недостатньо ефективними.
        </li>
      </ul>

      <h2>Додаткові рекомендації</h2>
      <ul>
        <li>
          Не знімайте тиск на рану, поки не буде забезпечено більш ефективний
          метод зупинки кровотечі або поки не буде надана медична допомога.
        </li>
        <li>
          При внутрішній кровотечі важливо не панікувати і негайно звертатися за
          медичною допомогою, оскільки такий тип кровотечі важко діагностувати
          без спеціальних обстежень.
        </li>
        <li>
          При використанні гемостатиків важливо переконатися, що засіб підходить
          для вашого конкретного випадку кровотечі.
        </li>
      </ul>
    </div>
  </body>
</html>
