<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title>Перша допомога при опіках</title>
    <link rel="stylesheet" href="../static/theory.css" />
  </head>
  <body>
    <header>
      <div class="logo-nav">
        <a href="/" class="logo">
          <img src="../static/logothyp.jpg" alt="First Aid Logo" /> First Aid
        </a>
        <nav>
          <a href="/theory">Теорія</a>
          <a href="/tests">Тести</a>
        </nav>
      </div>
      <div class="auth-buttons">
        {% if session.get("email") %}
        <a href="/profile" class="user-icon">
          <img
            src="/static/user-icon.png"
            alt="User Profile"
            style="width: 40px; height: 40px"
          />
        </a>
        {% else %}
        <a href="/login" class="login">Увійти</a>
        <a href="/register" class="register">Зареєструватися</a>
        {% endif %}
      </div>
    </header>
    <div class="main">
      <h1>Перша допомога при опіках</h1>
      <p>
        <em>Опіки</em> — це пошкодження шкіри та підлеглих тканин, що виникають
        внаслідок впливу високих температур, хімічних речовин, електричного
        струму або радіації.
      </p>
      <p>
        Важливо швидко та правильно надати першу допомогу при опіках, щоб
        зменшити ступінь ураження та запобігти ускладненням.
      </p>

      <h2>Ступені опіків та перша допомога</h2>
      <b>1 ступінь</b>
      <div class="clearfix">
        <img src="../static/firstburn.png" class="side-image" />
        <p><em>Що це означає?</em></p>
        <ul>
          <li>Пошкоджені лише поверхневі шари шкіри.</li>
          <li>Шкіра червона, може бути набряк.</li>
          <li>Біль незначний, часто проходить через кілька годин.</li>
        </ul>
      </div>
      <p><em>Перша допомога:</em></p>
      <ul>
        <li>
          Охолодження ділянки опіку водою кімнатної температури або прохолодною
          водою протягом 10-15 хвилин.
        </li>
        <li>Накладання стерильної пов'язки на уражену ділянку.</li>
        <li>У разі потреби, застосувати знеболюючі засоби.</li>
      </ul>

      <p></p>
      <p></p>
      <p></p>
      <b>2 ступінь</b>
      <div class="clearfix">
        <img src="../static/secondburn.png" class="side-image" />
        <p><em>Що це означає?</em></p>
        <ul>
          <li>Уражаються поверхневі та середні шари шкіри.</li>
          <li>Шкіра червона, утворюються пухирі з прозорою рідиною.</li>
          <li>
            Біль сильний, може бути супроводжуваний набряком та запаленням.
          </li>
        </ul>
        <p></p>
        <p></p>
      </div>
      <p><em>Перша допомога:</em></p>
      <ul>
        <li>Охолодження ураженої ділянки протягом 15-20 хвилин.</li>
        <li>Не проколюйте пухирі — це може призвести до інфекції.</li>
        <li>
          Накладання стерильної пов'язки або чистої тканини для захисту від
          бруду та інфекцій.
        </li>
        <li>Звернення до медиків для оцінки стану та подальшого лікування.</li>
      </ul>
      <p></p>
      <p></p>
      <p></p>
      <b>3 ступінь </b>
      <div class="clearfix">
        <img src="../static/thirdburn.png" class="side-image" />
        <p><em>Що це означає?</em></p>
        <ul>
          <li>
            Опік пошкоджує всі шари шкіри та може вплинути на підшкірні тканини.
          </li>
          <li>
            Шкіра може стати білою або чорної, можуть утворюватися великі
            обвуглені ділянки.
          </li>
          <li>
            Біль може бути відсутній через пошкодження нервів, але травма є дуже
            серйозною.
          </li>
        </ul>
      </div>
      <p><em>Перша допомога:</em></p>
      <ul>
        <li>
          Охолоджуйте місце опіку водою кімнатної температури (не лід) протягом
          не менше 20 хвилин.
        </li>
        <li>Не знімайте прилиплий до шкіри одяг.</li>
        <li>Накладайте стерильну пов'язку для запобігання інфекціям.</li>
        <li>
          Термінова медична допомога потрібна без затримок. Звертатися до
          лікарів для лікування та перев'язки.
        </li>
      </ul>

      <p><b>Додаткові рекомендації</b></p>
      <ul>
        <li>
          Не використовуйте лід для охолодження опіків — це може призвести до
          додаткових травм тканин.
        </li>
        <li>Не проколюйте пухирі, щоб уникнути інфекцій.</li>
        <li>
          Звертайтесь до лікаря, якщо опік займає велику площу, або є підозра на
          важке пошкодження.
        </li>
      </ul>
    </div>
  </body>
</html>
