<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title>
      Як перевірити, чи людина при свідомості та звільнити дихальні шляхи.
      Реанімація
    </title>
    <link rel="stylesheet" href="../static/theory.css" />
  </head>
  <body>
    <header>
      <div class="logo-nav">
        <a href="/" class="logo">
          <img src="../static/logothyp.jpg" alt="First Aid Logo" /> First Aid
        </a>
        <nav>
          <a href="/theory">Теорія</a>
          <a href="/tests">Тести</a>
        </nav>
      </div>
      <div class="auth-buttons">
        {% if session.get("email") %}
        <a href="/profile" class="user-icon">
          <img
            src="/static/user-icon.png"
            alt="User Profile"
            style="width: 40px; height: 40px"
          />
        </a>
        {% else %}
        <a href="/login" class="login">Увійти</a>
        <a href="/register" class="register">Зареєструватися</a>
        {% endif %}
      </div>
    </header>
    <div class="main">
      <h1>
        Як перевірити, чи людина при свідомості та звільнити дихальні шляхи.
        Реанімація
      </h1>
      <div class="clearfix">
        <img src="../static/cons.jpg" class="side-ima" />
        <p>
          Перевірка свідомості, звільнення дихальних шляхів і надання
          реанімаційних заходів — це основні етапи першої допомоги, які можуть
          зберегти життя потерпілого до прибуття професійної медичної допомоги.
          У цій статті розглянуто, як правильно перевірити стан свідомості
          постраждалого, як звільнити дихальні шляхи та виконати реанімацію.
        </p>
      </div>
      <p><b>1. Як перевірити, чи людина при свідомості?</b></p>
      <p><em>Що потрібно зробити?</em></p>
      <ul>
        <li>
          Перше, що потрібно зробити — це перевірити, чи постраждалий
          знаходиться при свідомості.
        </li>
        <li>
          Для цього обережно покличте людину, наприклад, голосно запитавши: "Ви
          чуєте мене?" або "Як ви себе почуваєте?"
        </li>
        <li>
          Якщо постраждалий реагує на голос, повертається, відкриває очі чи
          відповідає на питання, це свідчить про наявність свідомості.
        </li>
        <li>
          Якщо немає реакції, спробуйте легенько потрясти людину за плечі або
          обережно вдарити по підборіддю.
        </li>
        <li>
          Якщо людина не реагує на ці стимули, слід діяти, як при втраті
          свідомості.
        </li>
      </ul>
      <p><em>Чому це важливо?</em></p>
      <p>
        Перевірка свідомості допомагає визначити, чи потрібно починати
        реанімацію, чи достатньо лише звільнити дихальні шляхи і забезпечити
        стабільне положення постраждалого.
      </p>

      <p><b>2. Як звільнити дихальні шляхи?</b></p>
      <p><em>Що потрібно зробити?</em></p>
      <ul>
        <li>
          Після того як ви переконалися, що людина не реагує на зовнішні
          стимули, наступним кроком є перевірка дихальних шляхів.
        </li>
        <li>
          Якщо постраждалий не дихає, потрібно негайно звільнити дихальні шляхи
          від будь-яких перешкод (наприклад, язика, блювотних мас, сторонніх
          предметів).
        </li>
        <li>
          Для цього потрібно покласти постраждалого на спину і обережно
          відкинути голову назад, піднявши підборіддя. Цей крок дозволяє
          розширити дихальні шляхи.
        </li>
        <li>
          Якщо є підозра на травму хребта, голову не слід різко нахиляти.
          Замість цього потрібно обережно відкривати дихальні шляхи за допомогою
          техніки "щелепа вперед" (використовувати руки для підтримки нижньої
          щелепи і легкого відсування її вперед).
        </li>
        <li>
          Після цього перевірте наявність дихання, слухаючи та спостерігаючи за
          рухами грудної клітини.
        </li>
      </ul>
      <p><em>Чому це важливо?</em></p>
      <p>
        Звільнення дихальних шляхів дозволяє відновити доступ повітря до легень,
        що є необхідним для життєдіяльності організму.
      </p>

      <p><b>3. Реанімація (Серцево-легенева реанімація, СЛР)</b></p>
      <p><em>Що це таке?</em></p>
      <ul>
        <li>
          Якщо після звільнення дихальних шляхів постраждалий не дихає, потрібно
          розпочати серцево-легеневу реанімацію (СЛР).
        </li>
        <li>
          СЛР включає в себе два основні етапи: непрямий масаж серця та штучне
          дихання.
        </li>
      </ul>

      <p><b>Непрямий масаж серця:</b></p>
      <p><em>Як правильно виконати?</em></p>
      <ul>
        <li>Нехай постраждалий буде лежати на спині на твердій поверхні.</li>
        <li>
          Покладіть долоню однієї руки на центр грудної клітини (зона між
          сосками), а другу руку — поверх першої.
        </li>
        <li>
          Робіть натискання вглиб грудної клітини на глибину 5-6 см, з частотою
          100-120 натискань на хвилину. Після кожного натискання дозволяйте
          грудній клітині повністю підніматися.
        </li>
        <li>
          Техніка повинна бути чіткою, з постійним ритмом і без перерв, поки не
          з’явиться ознака дихання або пульсу.
        </li>
      </ul>

      <p><b>Штучне дихання:</b></p>
      <p><em>Як правильно виконати?</em></p>
      <ul>
        <li>
          Після кожних 30 натискань на грудну клітку робіть 2 вдихи (штучне
          дихання "рот в рот").
        </li>
        <li>
          Для цього нахиліться до постраждалого, зажміть його ніс, відкрийте рот
          і вдихайте повітря в рот постраждалого, поки його грудна клітка не
          підніметься.
        </li>
        <li>
          Це необхідно повторити 2 вдихи за кожні 30 натискань на грудну клітку.
        </li>
        <li>
          Якщо у вас є захисна маска для штучного дихання або інші засоби,
          використовуйте їх для захисту.
        </li>
      </ul>

      <b
        >4. Як діяти у разі використання автоматичного зовнішнього дефібрилятора
        (AED)?</b
      >
      <p><em>Що це означає?</em></p>
      <ul>
        <li>
          Якщо в наявності є автоматичний зовнішній дефібрилятор (AED),
          використовуйте його після перевірки пульсу та дихання.
        </li>
        <li>
          Дотримуйтесь інструкцій пристрою: зазвичай вам потрібно накласти
          електроди на грудну клітину постраждалого та дозволити дефібрилятору
          здійснити аналіз серцевого ритму.
        </li>
        <li>
          Якщо дефібрилятор рекомендує шок, дотримуйтесь інструкцій для надання
          шоку, після чого продовжуйте СЛР.
        </li>
      </ul>

      <h2>Додаткові рекомендації</h2>
      <ul>
        <li>
          Не припиняйте СЛР, поки не з’являться ознаки життя, або поки до вас не
          прийде професійна медична допомога.
        </li>
        <li>
          Якщо ви втомилися, спробуйте попросити когось іншого допомогти вам і
          чергуватися у виконанні СЛР.
        </li>
        <li>
          Пам'ятайте, що швидкість та ефективність ваших дій можуть значно
          вплинути на шанси на порятунок потерпілого.
        </li>
      </ul>
    </div>
  </body>
</html>
