* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url("../static/image.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    min-height: 100vh;
}

header {
    background-color: #000000;
    padding: 12px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.logo img {
    width: 70px;
    margin-right: 7px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 40%;
    margin: 10% auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 32px;
    color: red;
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 80%;
    padding: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #a01f1f;
}

a {
    display: block;
    color: white;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.forgot-password {
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
    width: 80%;
}

.register-link {
    font-size: 14px;
    margin-top: 15px;
    text-align: right;
    width: 80%;
}
