<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вхід</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
    <header>
        <a href="/" class="logo">
            <img src="../static/logothyp.jpg" alt="First Aid Logo"> First Aid
        </a>
        <nav>
            <a href="/theory">Теорія</a>
            <a href="/tests">Тести</a>
        </nav>
    </header>

    <div class="container">
        <h1>Створіть свій акаунт</h1>
        <form method="POST" action="/register">
            <div class="input-group">
                <input type="text" name="name" placeholder="Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="text" name="surname" placeholder="Surname" required>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit">Зареєструватися</button>
            <a href="/login">Вже маєте акаунт? Увійти</a>
        </form>
    </div>
</body>
</html>
